{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    <h1>
        {{ usuario.username|upper }}
    </h1>
    {% for loc in location %}
        <li>
            <a href={{ path('mLoca',{id: loc.id} ) }}>
                {{ loc.locationname|upper }}
            </a>
        </li>
    {% endfor %}
{% endblock %}
